<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eyebrow</title>
    <link rel="stylesheet" href="./eyebrow.css">
    <link rel="stylesheet" href="../navbar/navbarc.css">
    <link rel="stylesheet" href="../footer/footer.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fd57f26f15.js" crossorigin="anonymous"></script>
</head>
<body>


         <!--  --------------------  navbar   --------------------- -->
    <!-- <nav id="navbox">

    </nav> -->

<div class="main-nav-bar">
        <div class="inside-main-nav-div">

            <div class="glossierlogo">
                <a href="/index.html">
                <img id="glossier-logo" src="https://cdn.worldvectorlogo.com/logos/glossier-1.svg" alt="Glossier Logo">
                </a>
            </div>
            
            <div class="links-class search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search products...">
            </div>

            <div class="account-login-register ">
                <a class="link" href=""><i class="fa-regular fa-user"></i></a>
                <a  class="link" href=""><i class="fa-solid fa-cart-shopping link"></i></a>
                <i class="fa-solid fa-globe link"></i>
                <i class="fa-solid fa-language link"></i>
                <div class="login-register" id="login"><a  class="link" href="/components/LoginandRegistration/loginandregister.html">Login</a></div>
                <a class="link" href="">Stores</a>
                <div class="login-register" id="register"><a class="link" href="/admin side/insert data/insert.html">Admin</a></div>
            </div>

        </div>
    </div>
    <div class="products-types">
        <a href="../All product types/allProducttypes.html">All Product Type</a>        
        <a href="../Blush/blush.html">blush</a>        
        <a href="../Bronzer/bronzer.html">bronzer</a>        
        <a href="../Eyebrow/eyebrow.html">eyebrow</a>        
        <a href="../Eyeliner/eyeliner.html">eyeliner</a>        
        <a href="../Eyeshadow/eyeshadow.html">eyeshadow</a>        
        <a href="../Foundation/foundation.html">foundation</a>        
        <a href="../Lip-Liner/lipliner.html">lip_liner</a>        
        <a href="../LipStick/lipstick.html">lipstick</a>        
        <a href="../Mascare/mascare.html">mascara</a>        
        <a href="../Anail-Polish/anailpolish.html">Anail_polish</a>        
    </div>


    
<div id="filter"  style="margin: 50px;"  >
    <h1>All eyebrow Products</h1>

    <div id="filter-area">
        <label>Filter by Category: </label>
        <select id="parameter">
            <option value="">All</option>
            <option value="pencil">pencil</option>
            <option value="Unknown">Unknown</option>
        </select>
        <button id="filterbtn">Filter</button>
    </div>
</div>

<div id="container"></div>


<!-- ------------------------ Footer ----------------------------------  -->
<!-- 
   <div id="footercontent" style="margin-top: 50px;">

   </div> -->


    <div style="margin-top: 50px;">
            <!-- ----------------------------------------------------- -->
            <div id="email_disc">
                <div class="emdi">
                    <p>
                        At Glossier, we make products inspired by real life, embracing the ethos of Skin First. Makeup <br />
                        Second™. We believe beauty is about having fun, celebrating freedom, and being present. <br />
                        No matter where you are in your beauty journey, you look good.
                    </p>
                </div>

                <div class="emdi"></div>

                <div class="emdi">
                    <div class="email_box">
                        <input type="email" placeholder="Enter your email" class="email_input" />
                        <button class="email_submit">Submit</button>
                    </div>
                    <p class="small_para">You can unsubscribe anytime. For more details, review our Privacy Policy.</p>
                </div>
            </div>

            <!-- ------------------------------------------------------------ -->

            <div class="footer-container">
                <!-- First div with 2 columns -->
                <div class="footer-col-1">
                    <div class="inner-col">
                        <p>How can we help?<p>
                        <p>Contact</p>
                        <p>Returns & exchanges</p>
                        <p>Help & FAQ</p>
                        <p>International</p>
                        <p>Responsible disclosure</p>
                    </div>
                    <div class="inner-col">
                        <p>About Glossier</p>
                        <p>About Us</p>
                        <p>Careers</p>
                        <p>Affiliates</p>
                        <p>Into The Gloss</p>
                        <p>Glossier Events</p>
                        <p>Glossier for Good</p>
                    </div>
                </div>

                <div class="footer-col-2"></div>

                <div class="footer-col-3">
                    <div class="inner-col">
                        <p>Stores</p>
                        <p>Find your store</p>
                    </div>
                    <div class="inner-col">
                        <p>Social</p>
                        <p>Instagram</p>
                        <p>Pinterest</p>
                        <p>Facebook</p>
                        <p>Youtube</p>
                        <p>TikTok</p>
                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------------------------- -->

            <div id="listAtoZ">
                <div class="mid_links_footer"><a>A</a></div>
                <div class="mid_links_footer"><a>After Baume</a></div>
                <div class="mid_links_footer"><a>B</a></div>
                <div class="mid_links_footer"><a>Balm Dotcom</a></div>
                <div class="mid_links_footer"><a>Body Hero Exfoliating Bar</a></div>
                <div class="mid_links_footer"><a>Body Spritz</a></div>
                <div class="mid_links_footer"><a>Daily Oil Wash</a></div>
                <div class="mid_links_footer"><a>Daily Perfecting Lotion</a></div>
                <div class="mid_links_footer"><a>Body Hero Dry-Touch Oil Mist</a></div>
                <div class="mid_links_footer"><a>Boy Brow</a></div>
                <div class="mid_links_footer"><a>Boy Brow Arch</a></div>
                <div class="mid_links_footer"><a>Brow Flick</a></div>
                <div class="mid_links_footer"><a>C</a></div>
                <div class="mid_links_footer"><a>Classic Cap</a></div>
                <div class="mid_links_footer"><a>Cloud Paint</a></div>
                <div class="mid_links_footer"><a>Crème de You</a></div>
                <div class="mid_links_footer"><a>D</a></div>
                <div class="mid_links_footer"><a>Deodorant</a></div>
                <div class="mid_links_footer"><a>Deodorant Refill Stick</a></div>
                <div class="mid_links_footer"><a>Duffle Bag</a></div>
                <div class="mid_links_footer"><a>E</a></div>
                <div class="mid_links_footer"><a>Eyeshadow Brush</a></div>
                <div class="mid_links_footer"><a>F</a></div>
                <div class="mid_links_footer"><a>Field Greens Blanket</a></div>
                <div class="mid_links_footer"><a>Full Orbit</a></div>
                <div class="mid_links_footer"><a>Futuredew</a></div>
                <div class="mid_links_footer"><a>Futuredew Solid</a></div>
                <div class="mid_links_footer"><a>G</a></div>
                <div class="mid_links_footer"><a>G Suit</a></div>
                <div class="mid_links_footer"><a>Generation G</a></div>
                <div class="mid_links_footer"><a>Glossier You</a></div>
                <div class="mid_links_footer"><a>Glossier You Rêve</a></div>
                <div class="mid_links_footer"><a>Glossier You Doux</a></div>
                <div class="mid_links_footer"><a>Glossier You Fleur</a></div>
                <div class="mid_links_footer"><a>Glossier Candles</a></div>
                <div class="mid_links_footer"><a>Glossier Sweatshirt</a></div>
                <div class="mid_links_footer"><a>Glossier You Solid</a></div>
                <div class="mid_links_footer"><a>Glossier You Solid Refill</a></div>
                <div class="mid_links_footer"><a>Glossier Utility Bag</a></div>
                <div class="mid_links_footer"><a>H</a></div>
                <div class="mid_links_footer"><a>Haloscope</a></div>
                <div class="mid_links_footer"><a>Hand Cream</a></div>
                <div class="mid_links_footer"><a>I</a></div>
                <div class="mid_links_footer"><a>J</a></div>
                <div class="mid_links_footer"><a>K</a></div>
                <div class="mid_links_footer"><a>L</a></div>
                <div class="mid_links_footer"><a>Lip Glaze</a></div>
                <div class="mid_links_footer"><a>Lash Slick</a></div>
                <div class="mid_links_footer"><a>Lip Line</a></div>
                <div class="mid_links_footer"><a>Lidstar</a></div>
                <div class="mid_links_footer"><a>Lip Gloss</a></div>
                <div class="mid_links_footer"><a>M</a></div>
                <div class="mid_links_footer"><a>Milky Jelly Cleanser</a></div>
                <div class="mid_links_footer"><a>Milky Jelly Cleansing Balm</a></div>
                <div class="mid_links_footer"><a>Milky Jelly Cleansing Bar</a></div>
                <div class="mid_links_footer"><a>Milky Oil</a></div>
                <div class="mid_links_footer"><a>Monochromes</a></div>
                <div class="mid_links_footer"><a>Monochromes Refill</a></div>
                <div class="mid_links_footer"><a>N</a></div>
                <div class="mid_links_footer"><a>No. 1 Pencil</a></div>
                <div class="mid_links_footer"><a>O</a></div>
                <div class="mid_links_footer"><a>P</a></div>
                <div class="mid_links_footer"><a>Perfecting Skin Tint</a></div>
                <div class="mid_links_footer"><a>Priming Moisturizer</a></div>
                <div class="mid_links_footer"><a>Priming Moisturizer Balance</a></div>
                <div class="mid_links_footer"><a>Priming Moisturizer Rich</a></div>
                <div class="mid_links_footer"><a>Pro Tip</a></div>
                <div class="mid_links_footer"><a>Q</a></div>
                <div class="mid_links_footer"><a>R</a></div>
                <div class="mid_links_footer"><a>S</a></div>
                <div class="mid_links_footer"><a>Stretch Fluid Foundation</a></div>
                <div class="mid_links_footer"><a>Stretch Balm Concealer</a></div>
                <div class="mid_links_footer"><a>Stretch Face Brush</a></div>
                <div class="mid_links_footer"><a>Super Bounce</a></div>
                <div class="mid_links_footer"><a>Super Glow</a></div>
                <div class="mid_links_footer"><a>Super Pure</a></div>
                <div class="mid_links_footer"><a>T</a></div>
                <div class="mid_links_footer"><a>Terrazzo Hoodie</a></div>
                <div class="mid_links_footer"><a>The Beauty Bag</a></div>
                <div class="mid_links_footer"><a>The Original Pink Hoodie</a></div>
                <div class="mid_links_footer"><a>Three Eyed Smiley Mug</a></div>
                <div class="mid_links_footer"><a>U</a></div>
                <div class="mid_links_footer"><a>Ultralip</a></div>
                <div class="mid_links_footer"><a>Universal Pro-Retinol</a></div>
                <div class="mid_links_footer"><a>V</a></div>
                <div class="mid_links_footer"><a>W</a></div>
                <div class="mid_links_footer"><a>Water Bottle</a></div>
                <div class="mid_links_footer"><a>Wowder</a></div>
                <div class="mid_links_footer"><a>Wowder Brush</a></div>
                <div class="mid_links_footer"><a>X</a></div>
                <div class="mid_links_footer"><a>Y</a></div>
                <div class="mid_links_footer"><a>Z</a></div>
            </div>

            <!-- ------------------------------------------------------------------ -->
             <div class="main-image-container">
                <div class="inside-image-container">
                        <div class="image-box">
                        <img src="https://glossier-prod.imgix.net/files/smile_wave_black_lg.png?auto=compress,format&cs=srgb&w=720" alt="Image 1">
                        </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------- -->
        </div>

</body>
<script type="module" src="./eyebrow.js"></script>
</html>