<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>glossier navbar</title>
    <link rel="stylesheet" href="./navbarc.css">
    <script src="https://kit.fontawesome.com/fd57f26f15.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="main-nav-bar">
        <div class="inside-main-nav-div">

            <div class="glossierlogo">
                <a href="/index.html">
                <img id="glossier-logo" src="https://cdn.worldvectorlogo.com/logos/glossier-1.svg" alt="Glossier Logo">
                </a>
            </div>
            
            <div class="links-class search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search products...">
            </div>

            <div class="account-login-register ">
                <a class="link" href=""><i class="fa-regular fa-user"></i></a>
                <a  class="link" href=""><i class="fa-solid fa-cart-shopping link"></i></a>
                <i class="fa-solid fa-globe link"></i>
                <i class="fa-solid fa-language link"></i>
                <div class="login-register" id="login"><a  class="link" href="/components/LoginandRegistration/loginandregister.html">Login</a></div>
                <a class="link" href="">Stores</a>
                <div class="login-register" id="register"><a class="link" href="/admin side/insert data/insert.html">Admin</a></div>
            </div>

        </div>
    </div>
    <div class="products-types">
        <a href="../product types/All product types/allProducttypes.html">All Product Type</a>        
        <a href="../product types/Blush/blush.html">blush</a>        
        <a href="../product types/Bronzer/bronzer.html">bronzer</a>        
        <a href="../product types/Eyebrow/eyebrow.html">eyebrow</a>        
        <a href="../product types/Eyeliner/eyeliner.html">eyeliner</a>        
        <a href="../product types/Eyeshadow/eyeshadow.html">eyeshadow</a>        
        <a href="../product types/Foundation/foundation.html">foundation</a>        
        <a href="../product types/Lip-Liner/lipliner.html">lip_liner</a>        
        <a href="../productTypes/LipStick/lipstick.html">lipstick</a>        
        <a href="../product types/Mascare/mascare.html">mascara</a>        
        <a href="../product types/Anail-Polish/anailpolish.html">Anail_polish</a>        
    </div>
    

</body>
<script src="./navbarc.js"></script>
</html>