<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>card slider</title>
        <link rel="stylesheet" href="./cardslider.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    </head>
    <body>
        <div class="productnewcards">
            <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-cppb-puff-carousel-01.png?auto=compress,format&cs=srgb&w=1377?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Cloud Paint Plush Blush</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Seamless cheek color</li>
                    <li class="list-group-item">Rs.  2,700</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-cloudpaint-brush-carousel-1.png?auto=compress,format&cs=srgb&w=1377?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Cloud Paint Cheek Brush</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dual-ended brush</li>
                    <li class="list-group-item">Rs. 2,600</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-puff-beautybag-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Puffy Beauty Bag</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Limited edition</li>
                    <li class="list-group-item">Rs. 5,700</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-cloudpaint-brush-set-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Plush Brush Duo</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Puff is a light pink</li>
                    <li class="list-group-item">Rs. 5,300</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-cloud-paint-set-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Blush Duo</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cloud Paint Plush Blush + Cloud Paint </li>
                    <li class="list-group-item">Rs. 4,200</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-cppb-ul-set-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Pillowy Soft Duo </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cloud Paint Plush Blush + Ultralip</li>
                    <li class="list-group-item">Rs. 4,000 </li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-doux-launch-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Glossier You Doux </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Eau de perfum</li>
                    <li class="list-group-item">Rs. 8,500</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-doux-8ml-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Glossier You Doux </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Eau de perfum </li>
                    <li class="list-group-item">Rs. 3,400</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-carousel-doux-xl-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Glossier You Doux</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Eau de Perfum</li>
                    <li class="list-group-item">Rs. 12,100</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

             <div class="card" >
                <span class="new-badge">NEW</span>
                <img src="https://glossier-prod.imgix.net/files/glossier-skincare-futuredew-carousel-01.png?auto=compress,format&cs=srgb&w=1374?auto=compress,format&cs=srgb" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Futuredew</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Oil serum hybrid</li>
                    <li class="list-group-item"> RS. 3,200 </li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btncard" type="button"> Add to bag </button>
                </div>
            </div>

        </div>

        <div class="skinmakeup">
            <div class="sfmscard">
                <h6>Skin First</h6>
                <img src="https://glossier-prod.imgix.net/files/glossier-cppb-homepage-module-01.png?auto=compress,format&cs=srgb&w=2088" alt="">
                <button class="center-btn">Shop Skincare</button>
            </div>
            <div class="sfmscard">
                <h6>Makeup Second</h6>
                <img src="https://glossier-prod.imgix.net/files/glossier-cloudpaint-brush-carousel-02_7b4cf15b-865b-4b99-a759-37d66a876245.png?auto=compress,format&cs=srgb&w={width}" alt="">
                <button class="center-btn">Shop Makeup</button>
            </div>
        </div>
    </body>
    <script src="./cardslider.js"></script>
</html>
