<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./indexvid.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/fd57f26f15.js" crossorigin="anonymous"></script>
</head>
<body>



   <div class="vid-content-1">
    
    <div class="left-content">
      <h6>OUR FRAGRANCES</h6>
      <p>Your favorite scents that will grow with you no matter where you are in your personal evolution.</p>
      
      <button class="shop-btn">Shop now</button>
      
      <!-- Star Rating -->
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <blockquote>
        “Such an inviting scent! This is my favorite release so far (aside from the OG) and it’s super fun to layer with Doux and Reve. Fleur is summery, with a hint of salt; soft and warm from the cashmeran; with some sweetness from the apricot. Definitely my new go to!”
      </blockquote>
      <p><strong>Jessica</strong>, gifted Glossier You Fleur in exchange for an honest review.</p>
    </div>

    <!-- Right Side (60%) -->
    <div class="right-content">
        <video class="vid1"  autoplay muted loop>
        <source src="https://player.vimeo.com/progressive_redirect/playback/1066988639/rendition/2160p/file.mp4?loc=external&signature=850fec95ae5b33fb502fcd2e8973658324f03a83e253c1ee1d83e9342536e324" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
  </div>

  <div style="margin: 5px;">
    <p>GET THE LOOKS</p>
  </div>


  <div class="vid-content-2">

    <div class="inside-vid-content-2 " >
      <img style="width: 100%; height: 88%;" src="https://glossier-prod.imgix.net/files/glossier-cppb-homepage-ugc-01.png?auto=compress,format&cs=srgb&w=720" alt="">
      <p style="margin-top: 10px;">All new Cloud Paint Plush Blush in Burst. </p>
    </div>

    <div class="inside-vid-content-2">
      <video  style="width: 100%; height: 96%;  object-fit: initial;" autoplay muted loop>
        <source  src="https://player.vimeo.com/progressive_redirect/playback/1115173881/rendition/480p/file.mp4?loc=external&signature=447292fb3fe6daf8124eef81168c4d31cf46886a0e5e964f94c0d82cf1893491" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <p style="margin-top: 10px;">Nadya wears Cloud Paint Plush Blush.</p>
    </div>

    <div class="inside-vid-content-2" >
      <img style="width: 100%; height: 70% ;" src="https://glossier-prod.imgix.net/files/glossier-cppb-homepage-ugc-03.png?auto=compress,format&cs=srgb&w=720" alt="">
      <p style="margin-top: 10px;">If you can finger paint you can Cloud Paint.</p>
    </div>

  </div>

  
</body>
</html>